.app-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #1ec2af;
  z-index: 2;
  height: 55px;
  display: flex;
}
/* .app-logo {
  width: 100%;
  justify-content: center;
} */

.logo-lang {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.tr-lang {
  color: #fff;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.app-logo img{
  width: 8rem;
}

.app-navbar {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}
.header-responsive {
  display: none;
}
.header-liste {
  width: 100%;
}
.header-liste  > li {
  float: left;
}
.header-liste > li:not(:last-child){
  padding-right: 1rem;
}
.header-liste-contanier {
  display: flex;
}
 @media only screen and (min-width: 1200px){
  
}
@media only screen and (min-width: 1024px){
  .app-header{
    display: none;
  }
  .header-responsive {
    display: block;
    max-width: 1640px;
    margin: auto;
    padding-top: 1.5rem;
  }
}
@media only screen and (min-width: 720px){

 
}

@media only screen and (min-width: 576px){
  
}
@media only screen and (min-width: 320px){

}